<h1>Application</h1>

<!--Our blog has <%#= Job.public_count %> jobs and counting!-->

<ul>
  <% @applications.each do |application| %>
    <li>
      <%= link_to application.applicant_id, job_application_path(@job.job_id, application.applicant_id)%>
    </li>
  <% end %>
</ul>

<li><%= link_to "New Application"%></li>
