@media (prefers-color-scheme: dark) {
    body {
        background-color: #1e202c;
    }


    .media-bar-styles {
        background: #1e202c;
    }

    .media-field-styles {
        background: #292c3c;
        border-color: transparent;
    }

    .media-button-styles {
        background: #292c3c;
    }

    .media-bottom-bar-styles {
        color: #fff;
    }

    .drop-menu-styles {
        background-color: #1e202c;
        opacity: 0.95;
        color: #fff;

    }

    .drop-menu-styles:hover {
        background-color: #F2C12E;
        color: #0D0D0D;

    }

    .drop-menu-styles:active {
        background-color: wheat;
        color: #0D0D0D;

    }

    .cudos-styles {
        background-color: #1e202c;
        opacity: 0.95;
        color: #fff;

    }

    .cudos-link-styles {
        color: #F2C12E;

    }

    .font-color-styles {
        color: rgb(220, 220, 220);
    }

    .font-sub-heading-color-styles {
        color: rgb(100, 100, 100);
    }

    .border-line-styles {
        background-color: rgb(100, 100, 100);
    }

    .border-box-styles {
        background-image: linear-gradient(to right, #F2C12E, #f1ede0);
    }


}

@media (prefers-color-scheme: light) {
    body {
        background-color: #e9ebf3;
    }

    .media-bar-styles {
        background: #f3f5fa;
    }

    .media-field-styles {
        background: #fff;
        border: transparent;

    }

    .media-button-styles {
        background: #F2C12E;
    }

    .media-bottom-bar-styles {
        color: #0D0D0D;
    }

    .drop-menu-styles {
        background: #e9ebf3;
        opacity: 0.95;
        color: #0D0D0D;
    }

    .drop-menu-styles:hover {
        background: #F2C12E;
        color: #0D0D0D;

    }

    .drop-menu-styles:active {
        background: wheat;
        color: #0D0D0D;

    }

    .cudos-styles {
        background: #e9ebf3;
        opacity: 0.95;
        color: #0D0D0D;

    }

    .cudos-link-styles {
        color: #F2C12E;

    }

    .font-color-styles {
        color: #0D0D0D;
    }

    .font-sub-heading-color-styles {
        color: rgb(175, 175, 175);
    }

    .border-line-styles {
        background-image: linear-gradient(to right, rgb(150, 150, 150), rgb(100, 100, 100));
    }


}


@media (max-width: 950px) {
    .drop-menu-scale {
        width: 85%;

    }


}




